*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #e290c3;
}

#container{
    width: 80%;
    margin: 0px auto;
    box-shadow: 0px 0px 10px #e290c3;
    /* border: 1px solid red; */
    background: #e290c3(218, 67, 167);
}

#header{
    height: 180px;
    background: #f0f0f0;
}

#logo{
    padding: 20px;
    margin-left: 20px;
    float: left;
}

#logo img{
    float: left;
    height: 100px;
}

#logo a {
float: left;
font-size: 40px;
letter-spacing: 4px;
text-transform: uppercase;
color: #e290c3;
font-weight: bold;
text-decoration: none;
margin-top: 18px;
margin-left: 25px;
text-shadow: 0px 2px 1px #222;
transition: all 300ms;
}

#logo a:hover{
    text-shadow: 0px 2px 1px #222, 0px 0px 4px #e290c3;
}

/* Menu */
#menu{
    clear:both;
    background: #e290c3;
    color: white;
    height: 55px;
    border-bottom: 4px solid #da4ba3;
}

#menu ul{
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
}

#menu ul li{
    line-height: 55px;
    float: left;
    border-right: 1px solid #d40f89
}

#menu a{
    display: block;
    color: white;
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
    transition: all 300ms;

}

#menu a:first-child{
    border-left: 1px solid #d40f89;
}

#menu a:hover{
    background: #bd0978;
}

#content{
    margin: 0px auto;
    overflow: hidden;
    background: #e290c3;
    border: 4px solid #bd0978;
}

#lateral{
    width: 20%;
    min-height: 600px;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    border: 4px  solid #8a0874;

}
#lateral .block_aside{
    display: block;
    width: 90%;
    margin: 5px auto;
    padding: 10px;
    border: 2px solid #f70399;
}